{% if nothing_found %}
    <h5> По этому запросу ничего не найдено! </h5>
{% else %}
    {% for name, objects in response_array %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{name}}:</h5>
                <p class="card-text">
                    {% for record in objects %}
                        <span class="badge"> 
                            <a href={{record.url}} target="_blank"> {{record.format_title|raw}} </a>
                        </span>
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}