{{ attach_library('dse_render/search_facets')}}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            Источники
        </h5>
    </div>
    <div class="card-body">
        {{facets}}
    </div>
</div>