{{ attach_library('dse_render/search_facets')}}

<div class="card mt-3 mb-3">
    <h6 class="card-header">
            Источники
    </h6>
    <div class="card-body">
        {{facets}}
    </div>
    <div class="card-footer text-secondary">
        {{overall_count}} доступных для поиска слов
    </div>
</div>