{{ attach_library('dse_render/search_facets')}}

<div class="card">
    <div class="card-header text-center">
        <h5 class="card-title">
            Доступные источники
        </h5>
    </div>
    <div class="card-body">
        {{facets}}
    </div>
</div>