div.bibliolex details {
    margin: 0px !important;
    border: 0px !important;
}

div.bibliolex .card-header.bg-primary.text-white{
    background-color: #f8f8f8 !important;
    color: black !important;
}

div.bibliolex .card-header .card-title {
    font-weight: normal;
}

div.bibliolex summary {
    display: list-item;
    cursor: pointer;
}

div.bibliolex a.badge.text-primary{
    color: #dc3545 !important;

}

div.bibliolex .quote {
    flex-grow: 1;
    font-size: 14px;
    text-align: justify;
}

div.bibliolex .pl-2 {
    padding-left: 0.5rem;
}

div.bibliolex .pr-2 {
    padding-left: 0.25rem;
}

div.bibliolex .ml-3 {
    margin-left: 1rem;
}

div.bibliolex .ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}

div.bibliolex .badge-tooltip {
    cursor: help;
}

div.bibliolex .card-footer {
    height: 2rem !important;
    padding-top: 6px !important;
}

div.bibliolex .entry-changed-date {
    float: right;
    opacity: 0.6;
    color: black;
    font-size: 90%;
}

div.bibliolex .source-info-symbol {
    font-size: 100% !important;
    color: black;
    opacity: 0.9;
}

div.bibliolex a {
    text-decoration: none !important;
}

div.bibliolex .quote-pages {
    color: black !important;
}

div.bibliolex .period {
    color: black !important;
    font-weight: 700;
}

div.bibliolex .quote-value>p {
    display: contents !important;
}

div.bibliolex  .relation-link {
    color: var(--bs-link-color) !important;
    text-decoration: underline !important;
    color: var(--bs-link-hover-color) !important;
}

div.bibliolex span.badge-primary.bg-primary {
    background-color: #f8f8f8 !important;
}

div.bibliolex a {
    color: var(--bs-link-color) !important;
}

div.bibliolex a:hover {
    color: var(--bs-link-hover-color) !important;
}

div.bibliolex .text-white {
    color: black !important
}

div.bibliolex .card-header {
    height: 42px;
}