div.fieldset-wrapper {
    display: inline-flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    width: 100% !important;
    padding-left: 1em !important;
    padding-right: 1.6em !important;
}

div.js-form-wrapper legend {
    display: none;
}

.block-dse-render-facets-block div.card-body {
    margin: -1em;
}

.form-type-checkbox {
    margin-left: 1.25em !important;
    margin-right: 1.25em !important;
}

.column-margin {
    margin-top: -0.6em;
}

div.ajax-progress-throbber {
    z-index: 10000;
}

div.card-footer div.js-form-item-footer {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.order-2 {
    order: 1 !important;
}