.dse-modal.ui-dialog .ui-dialog-titlebar {
    background: #f8f8f8 !important;
}


.no-close .ui-dialog-titlebar-close {
    display: none;
  }

.tooltip {
    z-index: 100000;
}

.popover {
    z-index: 100000;
}