{{attach_library('dse_render/neolex')}}

<div>                                    
    <span id={{record._id}} class="dse-found-item badge rounded-pill border"> 
        {{record.display_title|raw}} 
    </span>
</div>